@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    background-image: url(../images/fondos/sigin-login.jpg);
}
span{
    color: deeppink;
    cursor: pointer;
    margin right: 10px;
    padding: 3px;
    
}
main{
    height: 100%;
    padding: 20px;
    margin-bottom: 22%;
}
.contenedortabla{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
thead{
    background: white;
    color: black;
    border: 2px solid deeppink;
    border-radius: 3px;
    text-align: center;
}
tr{
    border: 2px  solid deeppink;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}
td{
    border: 2px solid deeppink;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 3px;
    text-align: center;
}
th{
    border: 2px solid deeppink;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}
legend{
    text-align: center;
    font-size: 20px;
    color: deeppink;
}
.boton{
    margin-top: 20px;
    text-align: center;
}
.agregarContacto{
    background: crimson;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align:center;
    font-size: 15px;
}
fieldset{
    margin-top: 10%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}