body{
    background-image: url(../images/fondos/contactenos.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    
}

form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
}
h1{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}
.main{
    width: 100%;
    height: 100%;
}
@media(max-width:480px)
{
    form{
        width: 100%;
    }
}