* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
.section__titulo {
  text-align: center;
  font-size: 40px;
  color: #fba919;
}
.contenedor {
  margin: auto;
  width: 98%;
}
/*------------------Estilos del header------------------*/
.header {
  height: 60px;
}
.header .contenedor {
  display: flex;
  justify-content: space-between;
}
.header .contenedor .contenedorbotones {
  display: flex;
}

.logo,
.icon-menu,
.icon-busqueda {
  margin: 3px;
  color: #fff;
}
.icon-menu,
.icon-busqueda {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: #fba919;
  color: #fff;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left: 0;
  cursor: pointer;
}
/*------------------Estilos del menu------------------*/
.nav,
.navbus {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.menu__link {
  display: block;
  padding: 20px;
  background: #fba919;
  text-decoration: none;
  color: #fff;
}

.menu__link:hover,
.select {
  background: white;
  color: #fba919;
}
.mostrar,
.mostrarbus {
  left: 0;
}

/*------------------Estilos del banner------------------*/

.banner__slider {
  margin-top: -60px;
  position: relative;
  z-index: -1000;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.banner__slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  height: 100%;
  margin-top: -1px;

  animation: cambio 20s infinite alternate;
  animation-timing-function: ease-out;
}

.banner__slider li {
  width: 100%;
  height: 100%;
  list-style: none;
}
.banner__slider .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}
.banner__txt {
  display: none;
}

.banner__slider img {
  width: 100%;
  height: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*------------------Estilos del info------------------*/
.info__columna {
  background: #fba919;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

/*------------------Estilos de categorias------------------*/
.categorias__columna {
  position: relative;
  margin-bottom: 30px;
}
.categorias__descripcion {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  width: 70%;
  height: 100%;
  padding: 5px;
  text-align: center;
}
.categorias__titulo {
  font-size: 25px;
  margin: 5px 0;
}
.categorias__titulo {
  text-decoration: none;
  color: #fff;
}
.categorias__img {
  width: 100%;
}
.section__titulo {
  margin-bottom: 20px;
  padding: 20px;
}
/*------------------Estilos de footer------------------*/
.footer {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.footer .social [class^="icon-"] {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
}
/*------------------Estilos responsive--------*/
@media (min-width: 480px) {
  .header {
    background: rgba(0, 0, 0, 0.4);
  }
  .logo {
    font-size: 40px;
  }
  .banner__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .banner__txt {
    display: block;
    font-size: 18px;
    margin: 7px 0;
  }
  .info,
  .categorias {
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
  }
  .info__columna {
    width: 32%;
  }
  .info__titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .categorias {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .section__titulo {
    width: 100%;
  }
  .categorias__columna {
    width: 48%;
  }
  .categorias__titulo {
    font-size: 20px;
  }
  .categorias__txt {
    font-size: 14px;
  }
  .footer .social [class^="icon-"] {
    margin: 0 10px;
  }
}
@media (min-width: 768px) {
  .banner__titulo {
    font-size: 50px;
  }
  .categorias__titulo {
    font-size: 30px;
  }
  .categorias__txt {
    font-size: 20px;
  }
  .info__columna {
    margin-top: -15px;
  }
  .info__titulo,
  .info__txt {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .info__columna {
    padding: 30px;
  }
  .section__titulo {
    font-size: 50px;
  }
  .nav,
  .navbus {
    position: static;
    width: auto;
  }
  .menu,
  .navbus {
    display: flex;
  }
  .banner__txt {
    font-size: 25px;
  }
  .icon-menu,
  .icon-busqueda {
    display: none;
  }
  .banner__titulo {
    font-size: 60px;
  }
  .info__titulo {
    font-size: 40px;
    text-align: center;
  }
  .menu__link,
  .navbus {
    background: none;
    font-size: 15px;
  }
  .select {
    background: white;
  }
  .categorias__txt {
    font-size: 20px;
  }
  .categorias__titulo {
    font-size: 50px;
  }
  .categorias__descripcion {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
@media (min-width: 1280px) {
  .logo {
    font-size: 60px;
  }
}
