*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-image: url(../images/fondos/sigin-login.jpg);
}
h1{
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.form-register{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.form-titulo{
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}
input{
    margin-bottom: 10px;
    padding: 15px;
}
.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}
.input-48{
    width: 48%;
}
.input-100{
    width: 100%;
}
.btn-enviar{
    background: crimson;
    color: white;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    text-align:center;
    font-size: 15px;
}
.btn-enviar:active{
    transform: scale(1.05);
}
.form_link{
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}






/*Estilos Responsive Banner y Footer*/
@media(max-width:400px)
{
    .btn-enviar{
    background: crimson;
    color: white;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    width: 90px;
    text-align:center;
    font-size: 15px;
    }
    .input-100
    {
        font-size: 10px;
    }
    .input-48{
    
    width: 100%;
}
}
@media(min-width:480px)
{
    .logo{
        font-size: 40px;
    }
    .banner__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
    .banner__txt{
        display: block;
        font-size: 18px;
        margin: 7px 0;
        
    }
    .info,.categorias{
        display: flex;
        justify-content: space-between;
        margin-top: -60px;
    }
    .info__columna{
        width: 32%;
    }
    .info__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
    .categorias{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .section__titulo{
        width: 100%;
    }
    .categorias__columna{
        width: 48%;
    }
    .categorias__titulo{
        font-size: 20px;
    }
    .categorias__txt{
        font-size: 14px;
    }
    .footer .social [class^="icon-"]{
        margin: 0 10px;
    }
}
@media(min-width:768px){
    .banner__titulo{
        font-size: 50px;
    }
    .categorias__titulo{
        font-size: 30px;
    }
    .categorias__txt{
        font-size: 20px;
    }
    .info__columna{
        margin-top: -15px;
    }
    .info__titulo,.info__txt{
        text-align: center;
    }
}

@media(min-width:1024px){
    .info__columna{
        padding: 30px;
    }
    .section__titulo{
        font-size: 50px;
    }
    .nav,.navbus{
        position: static;
        width: auto;
    }
    .menu,.navbus{
        display: flex;
    }
    .banner__txt{
        font-size: 25px;
    }
    .icon-menu,.icon-busqueda{
        display: none;
    }
    .banner__titulo{
        font-size: 60px;
    }
    .info__titulo{
        font-size: 40px;
        text-align: center;
    }
    .menu__link,.navbus{
        background: none;
        font-size: 15px;s
    }
    .select{
        background: white;
    }
    .categorias__txt
    {
        font-size: 20px;
    }
    .categorias__titulo{
        font-size: 50px;
        
    }
    .categorias__descripcion{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

}
@media(min-width:1280px){
    .logo{
        font-size: 60px;
    }
}